@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

header {
  background-color: rgb(154, 179, 176);
  display: flex;
  flex-direction: column;
  min-width: fit-content;
}

h1,
h2 {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 2.3em;
  margin: 1em;
}

h2 {
  padding: 1em;
  margin: 0;
  font-size: 1.8em;
}

h3 {
  margin: 0;
  text-align: center;
  color: #333;
  font-size: 1.5em;
}

ul {
  padding: 0;
  text-align: center;
}

.nav-links {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  padding: 0.7em;
}

.subheading {
  background-color: rgb(235, 235, 235);
  background-repeat: no-repeat;
  background-image: url(./public/piz-buin.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
  height: 30em;
}

@media screen and (max-width: 767px) {
  .subheading {
    height: 30vh;
    min-height: unset;
  }
}

.about {
  background-color:rgb(226, 226, 226);
  text-align: center;
}

.split {
  display: flex;
  flex-direction: row;
  text-align: center;
}
